

table{
    background-color: lightgray;
/*
    margin-left: auto;
    margin-right: auto;
*/
    
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}



.spec{
    border-collapse: collapse;
    text-align: right;
}

#headee{
    color: red;
    width: 100%;
}

.spec th{
    color: orange;
}

.spec, .spec th, .spec td{
    border: 2px dotted black;
}

.spec tr:nth-child(even){
    background-color: azure;
}

.spec tr:nth-child(odd){
    background-color: aliceblue;
}